.Service{
    margin-top: 100px;
    margin-bottom: 100px;

}

.Service .row {
    margin-top: 20px;
}

hr {
    height: 10px;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    text-align: center;
}

.titulo0{
text-align:justify;

}

.descripcion0{
    
    text-align:justify;
}

.recuardo1eracolumna{
background:linear-gradient(to right,rgb(0, 255, 255, 0.768),rgb(0, 255, 255, 0.768),rgb(0, 255, 255, 0.768),rgb(0, 255, 255, 0.768),rgba(255, 217, 0, 0.645));
text-align:justify;
}

.recuardo2ndacolumna{
background:linear-gradient(to right,rgba(255, 217, 0, 0.645),rgba(255, 217, 0, 0.700),rgba(255, 217, 0, 0.740),rgba(255, 217, 0, 0.770));
text-align:justify;
}


.imagen{
height: 500px;
width: 460px;

}

