.Service{
    margin-top: 100px;
    margin-bottom: 100px;

}


.Service .row {
    margin-top: 20px;
}

hr {
    height: 10px;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    text-align: center;
}

.titulo0{
text-align:justify;

}

.descripcion0{

    text-align:justify;
}

.Service .container-expand{
    width: 100%;

}

.recuardo1eracolumna{

    text-align:center;
    padding: 5em;
}

.recuardo2ndacolumna{

    text-align:center;
    padding: 5em;
}


.imagen{
    height: auto;
    width: auto;

}

.imagen2{
    height: auto;
    width: 500px;
    position: relative;

}
