.Service{
    margin-top: 10em;
    margin-bottom: 10em;

}


.Service .row {
    margin-top: 5em;
}

hr {
    height: 10px;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    text-align: center;
}

.titulo0{
text-align:justify;

}

.descripcion0{

    text-align:justify;
}

.Service .container-expand{
    height: 100vh;
    background-color: #ff98b8;
}
.container-expand .container{
    height: 100%;
}
.container-expand .row{
 height: 100%;
}


.recuardo1eracolumna{
    margin: auto;
    text-align:center;


}

.recuardo2ndacolumna{
    margin: auto;
    text-align:center;

}


.imagen{
    height: auto;
    width: auto;

}

.imagen2{
    height: auto;
    width: 20em;
    position: relative;

}
